.my {
    background-color: rgb(180, 189, 255);
    box-shadow: 4px 4px 8px 4px rgb(180, 189, 255);
    border: 3px solid rgb(0, 27, 121);
    border-radius: 10px;
    width: 450px;
    display: inline-block;
    margin: 40px;
    margin-left: 190px;
    
    height: 300px;
  
    
  }
  
  .my h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  #card-flex{
    display: flex;
    flex-direction: row;
  }
  .cards{
    display: flex;
    flex-direction: row;
  }
  
  /* .my img {
    max-width: 100%;
    height: auto;
  } */
  .my img{
    width:50%;
    
  }
  .certi{
    padding-left: 130px;
  }
 
 
  
  @media (max-width: 600px) {
    .my {
      width: 80%;
      margin: 10px auto;
      margin-bottom: 80px;
      display: block; 
      padding-top: 20px;
      padding-bottom:0px ;
      height: 200px;
      
    }

 .certi{
  padding-left: 60px;
 }
  }
  /* 
  
  @media (min-width: 600px) {
    .my {
      width: calc(33.33% - 20px); 
      margin: 20px;
      display: inline-block;
      vertical-align: top;
    }
  }
   */