
  .contact{
    width: 50%;
    margin: 0 auto;
  }

  .table-container {
    max-width: 400px;
    margin: 50px auto;
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: aliceblue;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }

  

  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

  }
.btn{
    
text-align: center;
}
  button:hover {
    background-color: #22092C;
  }