body{
    background-color:#0C134F;
    overflow-x: hidden;
}
ul{
list-style-type:none;
margin:0;
border:100px;
padding:0px;
overflow:hidden;
    background-color:#191825;
}
.desktop{
    position:sticky;
}
li{
float:left;
}
li a {
display: block;
color:#FBFFDC;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size:20px;
}
li a:hover {
background-color: #120078;
}
footer{
    /* bottom:0px;
    right:0px;
    left:0px;
    color:#544343;
    background-color: rgb(116, 107, 107);
    padding:0.01px;
    text-align: center; */
    left: 0px;
    right: 0px;
    bottom: 0px;
   position: relative; 
      width: 100%;
      background:transparent;
      min-height: 80px;
      padding: 1px; 
       margin-top: 50px; 
       background-color:#001B79; 
}
.ftr p{
    color:#F5F5DC;
      margin: 7px 0 3px 0;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      align-items: center;
}
a{
    display: block;
    color:#FBFFDC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    font-size: 20px;
}
a:hover {
    background-color:#2F58CD;
    }

    .sidebar{
        top:0;
        left: 0;
        position: fixed;
        background-color:#1D267D;
        backdrop-filter: blur(1px);
        display:block;
        text-align: center;
        font-size: 15px;
        height: 100%;
        z-index: 9999;
    }
    .closebtn{
        top: 0;
        right: 30px;
        font-size: 36px;
        margin-right: 100px;
        cursor: pointer;
        color: #F45905;
        
    }
.Hamburger{
    background-color:#191825;
    height:50px;
    width:100%;
}
.icon img{
    margin:10px;
    width: 25px;
    height: 25px;
    background-color: #FF9130;
}
    @media only screen and (max-width:600px){
        .desktop{
        display: none;
        padding-left:10%;
      }
    }

    @media only screen and (min-width:600px){
        .Hamburger,.sidebar{
            display: none;

        }
    }
    .Hamburger{
        z-index: 999;
    }
    